<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown
          mode="Singleton"
          objectUri="OrderManagementService.rem"
          type="RemoteOrderManagementService.OrderManagementServer, RemoteOrderManagementService"
          displayName="OrderManagementService" />
      </service>
      <channels>
        <channel ref="http" port="8001">
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>