@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<hr/>
<h3>@ViewBag.Message</h3>

<address>
    Buy The Box Ltd.<br />
    University of Greenwich<br/>
    Old Royal Naval College<br/>
    Park Row<br/>
    Greenwich<br/>
    London SE10 9LS<br/>
</address>
