@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University of Greenwich<br/>
    Old Royal Naval College<br/>
    Park Row<br/>
    Greenwich<br/>
    London SE10 9LS<br/>
</address>
