@{
    ViewBag.Title = "Home Page";
}

<br/>

<div class="jumbotron">
    <h1>Buy The Box</h1>
    <p class="lead">Fast and reliable wholesale grocery...</p>
    <p>
        <a href="@Url.Action("About", "Home")" class="btn btn-default">
            Learn More
        </a>
    </p>
</div>