body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
@media (min-width: 768px) {
    .dl-horizontal dt {
        white-space: normal;
        text-align: left;
        width: 120px;
    }

    .dl-horizontal dd {
        float: left;
        margin-left: 0;
    }

    .dl-horizontal {
        overflow: hidden;
    }

    dt {
        float: left;
    }

    dd {
        float: left;
    }

    .checkout {
         padding-bottom: 50px;
         padding-top: 100px;
    }
}

.stock {
    color: #18BCB4;
    font-weight: bolder;
}

.logo {
    max-width:100px;
    margin-top: -10px;
    margin-right: -3px;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.product {
    padding-top: 40px;
    padding-bottom: 20px;
}

    .product:hover {
        background-color: #f5f5f5;
    }
