@model IEnumerable<DataModel.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Our Products</h2>


<div class="row">
@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="col-md-4">
            <img src="~/Content/box_placeholder.jpg" width="100" height="120" alt="Image"/>
        </div>
        <div class="col-md-8">
            <a href="@Url.Action("Details", "Products", new { id = item.Id })">
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            </a>
            <h4>&pound;@Html.DisplayFor(modelItem => item.Price)</h4>
        </div>
    </div>
}
</div>
